<div class="text-center bottom-margin">
  <h1>Editar doctor:</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Editar datos</h3>
    <%= render 'form', doctor: @doctor %>
  </div>
  <div class="col-md-6">
    <h3>Editar especialidades</h3>
    <%= form_with model: [@doctor, Specialty.new], url: doctor_add_specialty_path(@doctor) do |f|  %>
      <%= f.label 'Elegir especialidad' %>
      <%= f.select :id, @specialties_selection, {}, {class: "form-control"} %> <br>
      <%= f.submit 'Agregar especialidad', class: 'btn btn-info btn-lg' %>
    <% end %>
    <br>

    <h5>Listado de especialidades de <%=@doctor.name%>:</h5>
    <% @doctor.specialties.each do |specialty| %>
    <ul>
      <li>
        <%= specialty.name %> <%=link_to 'x', doctor_remove_specialty_path(@doctor, specialty), method: :delete, class:'btn btn-danger btn-sm rounded-btn'%>
      </li>
    </ul>
    <% end %>
  </div>
</div>
<br>
<div class="text-right">
  <%= link_to '<<Volver', doctors_path, class:'btn btn-secondary' %>
</div>
