<h1>Doctores</h1>
<% @doctors.each_slice(3) do |doctors| %>
  <div class="row">
    <% doctors.each do |doctor| %>
      <ul class="list-group col-md-4">
        <li class="list-group-item active"><%= doctor.name %></li>
        <li class="list-group-item"><% doctor.specialties.each do |s| %>
          <%= s.name %>
          <br>
        <% end %>
      </li>
        <li class="list-group-item">
          <%=link_to 'Ver', doctor, class:'btn btn-sm btn-warning' %>
          <% if current_user != nil && current_user.admin? %>
            <%= link_to 'Editar', edit_doctor_path(doctor), class:'btn btn-info btn-sm' %>
            <%= link_to 'Eliminar', doctor, method: :delete, data: { confirm: 'Eliminar a este doctor borrará sus citas médicas ¿Confirma esta acción?' }, class:'btn btn-sm btn-danger' %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
<br>

<% if current_user != nil && current_user.admin? %>
  <%= link_to 'Agregar doctor', new_doctor_path, class:'btn btn-success' %>
<% end %>
