<div class="card">
  <h5 class="card-header"><%= @doctor.name %></h5>
  <div class="card-body">
    <h2 class="card-title">Información de <%= @doctor.name %>:</h2>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @doctor.picture, class:'img-fluid doctor-picture' %>
      </div>
      <div class="col-md-4">
        <br>
        <h3><%= @doctor.university %></h3>
        <% if current_user != nil && current_user.admin? %>
        <h5>Número de citas: <%= @doctor.appointments.count %></h5>
        <% end %>
      </div>
        <div class="col-md-4">
          <br>
          <h3>Especialidades:</h3>
          <ul>
            <% @doctor.specialties.each do |s| %>
            <li><%= s.name %></li>
            <% end %>
          </ul>
        </div>
    </div>
    <br>
    <%= link_to '<<Volver', doctors_path, class:'btn btn-secondary' %>
    <%= link_to 'Pedir hora', new_appointment_path, class:'btn btn-primary' %>

    <% if current_user != nil && current_user.admin? %>
      <%= link_to 'Editar', edit_doctor_path(@doctor), class:'btn btn-info' %>
    <% end %>
  </div>
</div>
